* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pacifico';
}

#body-main{
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(57, 10, 84, 1) 13%, rgba(117, 100, 111, 1) 51%, rgba(111, 96, 106, 1) 52%, rgba(60, 53, 208, 1) 85%, rgba(34, 48, 47, 1) 100%);
}

header {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-item:hover {
    background-color: lightgreen;
    opacity: 0.5;

}

.manga {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(191, 140, 124, 1) 22%, rgba(152, 71, 233, 1) 73%, rgba(228, 168, 77, 1) 80%, rgba(253, 187, 45, 1) 100%);
    border-radius: 50%;
    padding: 10px;
}

#box-products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 200px;

}

.alert {
    height: 10vh;
    display: flex;
    justify-content: center;

}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    color: aliceblue;

}

.title {
    font-family: 'Pacifico', cursive;
    margin-left: 30%;
    margin-top: 10px;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    border-radius: 30px;
    padding: 20px;
}